@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

@mixin classImage($height, $width) {
  /* Text overlay on image */
}

@mixin singleEventStyle() {
  .single-event {
    display: flex;
    gap: 2em;

    .date-container {
      background: darkblue;
      margin-top: 0.5em;
      height: 4em;
      width: 4em;
      border-radius: 50%;
      padding: 1em;

      p {
        text-align: center;
        padding: 0.5em 0.5em;
        color: white;
        font-weight: bolder;
        font-size: 0.8rem;
        height: 4em;
        width: 4em;
      }
    }
  }
}

@mixin searchForm($width) {
  .search-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #778899;
    width: $width;
    padding: 1em;
    border: none;
    border-radius: 4px;

    label {
      font-size: 1.5rem;
    }

    .search-form-inputs {
      input {
        padding: 0.8em;
        width: 100%;
        border: none;
        border-radius: 4px;
        margin: 0.2em;
      }

      .search-input-submit:hover {
        @include buttonHover();
      }
    }
  }
}

@mixin linkStyle() {
  text-decoration: none;
  color: #000000;
}

@mixin linkHover() {
  color: #778899;
  cursor: pointer;
}

@mixin buttonHover() {
  cursor: pointer;
  background-color: #f0f8ff;
}

* {
  color: #282828;
}

/* Override Wordpress official styles for login page */
.login {
  h1 {
    a {
      background-image: none;
      text-indent: 0%;
      font-size: 3rem;
      width: 100%;
    }
  }
}

html {
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: rgb(204, 203, 224);
    background: linear-gradient(
      90deg,
      rgba(204, 203, 224, 1) 0%,
      rgba(250, 250, 250, 1) 94%
    );

    a {
      @include linkStyle();
    }

    /* HEADER */
    header {
      background: rgb(250, 244, 244);
      background: linear-gradient(
        90deg,
        rgba(250, 244, 244, 1) 0%,
        rgba(250, 250, 250, 1) 94%
      );
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 2.5em;
      padding: 1.5em;
      margin-bottom: 10em;
      z-index: 5;
      transition: all 0.2s ease-in;

      &.hide {
        top: -100px;
      }

      .container {
        height: 3em;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 2em;

        h1 {
          font-size: 2.7rem;
        }

        .header-util {
          margin-right: -1em;

          a,
          span {
            font-size: 0.7rem;
            margin-right: 0.5em;
            transition: all 0.2s ease-in;

            &:hover {
              @include linkHover();
            }
          }
        }

        /* Highlight current page link */
        .current-menu-item a {
          text-shadow: 1px #ff0000;
          color: lightgray;
        }
      }
    }

    /* MAIN */
    main {
      display: flex;
      flex-direction: column;
      margin-bottom: 10em;

      .heading-section {
        background-image: url('../images/image-front.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 50em;
        width: 100vw;

        .heading {
          h1 {
            font-size: 3rem;
            color: white;
          }

          h4 {
            margin-top: -2em;
            color: white;
          }

          color: white;
          text-align: center;
          padding: 2em;
          margin: 0 auto;
          margin-top: 15em;
          opacity: 0.7;
          background-color: #282828;
          border-radius: 2px;
          width: 35em;
          transition: all 0.5s ease-in;

          &:hover {
            opacity: 0.8;
            cursor: pointer;
          }
        }
      }

      .history-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2em;

        h2 {
          font-size: 2.5rem;
        }

        .our-history {
          text-align: center;
          display: flex;
          margin: 5em;
          justify-content: center;
          gap: 2em;

          img {
            width: 40%;
            height: 30%;
            border-radius: 5px;
          }
        }
      }

      .homepage-classes {
        text-align: center;
        margin-top: 3em;

        h2 {
          font-size: 2.5rem;
          margin-bottom: 3em;
        }

        .classes-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin: 5em;
          gap: 6em;

          .single-class h4 {
            position: relative;
            top: 40%;
            width: 50%;
            margin: 0 auto;
            font-size: 2.3rem;
            font-weight: bolder;
            padding: 0.5em;
            color: white;
          }

          .yoga {
            background-image: url('../images/yoga.jpg');
            background-size: cover;
            background-position: center;
            height: 25em;
            width: 45%;
            transition: all 0.2s ease-in;
            opacity: 0.7;
            border-radius: 5px;

            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }

          .zumba {
            background-image: url('../images/zumba.jpg');
            background-size: cover;
            background-position: center;
            height: 25em;
            width: 45%;
            transition: all 0.2s ease-in;
            opacity: 0.7;
            border-radius: 5px;

            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }

          .outdoor {
            background-image: url('../images/outdoor.jpg');
            background-size: cover;
            background-position: center;
            height: 25em;
            width: 45%;
            transition: all 0.2s ease-in;
            opacity: 0.7;
            border-radius: 5px;

            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }

          .cycling {
            background-image: url('../images/cycling.jpg');
            background-size: cover;
            background-position: center;
            height: 25em;
            width: 45%;
            transition: all 0.2s ease-in;
            opacity: 0.7;
            border-radius: 5px;

            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }
        }
      }

      /* HOMEPAGE WORKOUTS */
      .homepage-workouts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
          font-size: 2.5rem;
        }

        .workouts-container {
          margin: 6em;
          background-image: url('../images/workout-homepage.jpg');
          background-size: cover;
          background-position: center;
          height: 25em;
          width: 40em;
          transition: all 0.2s ease-in;
          opacity: 0.7;
          border-radius: 5px;

          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }

          h3 {
            background-color: #778899;
            border-radius: 5px;
            padding: 1em;
            opacity: 0.8;
            text-align: center;
            width: 6em;
            position: relative;
            top: 30%;
            margin: 0 auto;
            font-size: 2rem;
            font-weight: bolder;
            color: white;
          }
        }
      }

      /* HOMEPAGE EVENTS */
      .homepage-events {
        .events-heading {
          display: flex;
          margin: 0 auto;
          background-image: url('../images/events.jpg');
          background-size: cover;
          background-position: center;
          height: 40em;
          width: 100vw;
          transition: all 0.2s ease-in;

          a {
            position: relative;
            top: 40%;
            width: 10em;
            height: 5%;
            text-align: center;
            margin: 0 auto;
            padding: 1.2em;
            padding-top: 1em;
            font-size: 2rem;
            background-color: #778899;
            border-radius: 5px;
            opacity: 0.8;
            color: white;
            transition: all 0.3s ease-in;

            &:hover {
              opacity: 0.75;
              background-color: #282828;
              cursor: pointer;
            }
          }
        }
      }

      /* HOMEPAGE SOCIAL MEDIA FEEDS */
      .homepage-feeds {
        margin-top: 5em;
        padding: 2em;
        margin-bottom: 5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
          font-size: 2.5rem;
          text-align: center;
        }

        .social-media-container {
          margin-bottom: 4em;

          i {
            margin: 0.5em;
            font-size: 3rem;
            transition: all 0.1s linear;

            &:hover {
              cursor: pointer;
              transform: scale(1.1);
            }
          }

          .fa-facebook-official {
            color: #00008b;
          }

          .fa-instagram {
            color: darkred;
          }

          .fa-twitter {
            color: lightblue;
          }

          .fa-pinterest {
            color: red;
          }
        }

        .feed-container {
          margin-top: 2em;
          display: flex;
          justify-content: space-around;

          img {
            width: 25%;
            height: 15%;
            border-radius: 5px;
          }
        }
      }
    }

    .blog-section {
      h1 {
        font-size: 2.5rem;
      }
    }

    /* ABOUT US PAGE */
    .metabox {
      margin-left: 3em;

      a {
        text-decoration: underline;
        font-weight: bold;
        transition: all 0.2s ease-in;

        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }
    }

    .page-container-about {
      margin-top: 8em;

      .page-banner {
        h1 {
          font-size: 3rem;
        }
      }

      display: flex;
      flex-direction: column;
      justify-content: center;

      .link-list {
        padding-left: 0;
        text-align: center;
        margin-top: -2em;

        li {
          margin: 0.2em;
          list-style-type: none;
          font-size: 1.2rem;

          &:hover {
            a {
              @include linkHover();
            }
          }
        }
      }

      .about-container {
        display: flex;
        justify-content: center;
        gap: 4em;
        margin-top: 4em;
        margin-bottom: 10em;
        padding: 4em;

        .about-image {
          width: 50%;
          height: 30%;
          border-radius: 5px;
        }

        .generic-content {
          text-align: center;
        }
      }
    }

    /* CLASSES & WORKOUTS PAGE */
    .posts-container {
      margin-bottom: 15em;

      .page-banner {
        margin-top: 10em;

        h1 {
          font-size: 3rem;
        }
      }

      h1 {
        text-align: center;
        font-size: 2.5rem;
      }

      .workout-wrapper {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 5em;

        .single-workout {
          position: relative;

          .workout-card-image {
            width: 100%;
            max-width: 650px;
            height: auto;
            border-radius: 5px;
            opacity: 0.8;
            transition: all 0.2s ease-in;
          }

          h3 {
            position: absolute;
            top: 30%;
            left: 0;
            text-align: center;
            width: 100%;
            font-size: 1.8rem;
            font-weight: bolder;
            color: white;
          }

          &:hover {
            cursor: pointer;

            .workout-card-image {
              opacity: 0.85;
            }
          }
        }
      }

      .classes-container {
        display: flex;
        justify-content: center;
        margin-top: 4em;
        padding-left: 4em;
        padding-right: 4em;
        gap: 1em;

        .single-class-wrapper {
          position: relative;
          transition: all 0.2s ease-in;
          opacity: 0.8;

          h3 {
            position: absolute;
            top: 30%;
            left: 0;
            width: 100%;
            text-align: center;
            font-size: 1.8rem;
            font-weight: bolder;
            color: white;
          }

          .yoga {
            background-image: url('../images/yoga.jpg');
            background-size: cover;
            background-position: center;
            height: 25em;
            width: 18em;
            border-radius: 5px;
          }

          .zumba {
            background-image: url('../images/zumba.jpg');
            background-size: cover;
            background-position: center;
            height: 25em;
            width: 18em;
            border-radius: 5px;
          }

          .outdoor {
            background-image: url('../images/outdoor.jpg');
            background-size: cover;
            background-position: center;
            height: 25em;
            width: 18em;
            border-radius: 5px;
          }

          .cycling {
            background-image: url('../images/cycling.jpg');
            background-size: cover;
            background-position: center;
            height: 25em;
            width: 18em;
            border-radius: 5px;
          }

          &:hover {
            cursor: pointer;
            opacity: 0.9;
          }
        }
      }
    }

    /* CONTACT PAGE */
    .contact-wrapper {
      margin-bottom: 10em;
      display: flex;
      flex-direction: column;

      .form-container {
        margin-top: 8em;
        margin-bottom: 8em;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;

        h1 {
          font-size: 3rem;
          margin-bottom: 2em;
        }

        .contact-form {
          display: flex;
          flex-direction: column;
          width: 60%;

          button {
            margin: 0.5em;
            padding: 1em;
            border-radius: 5px;
            border: none;
            font-weight: bold;
            height: 3.5em;
            transition: all 0.2s ease-in;
            background-color: #f0f0f0;
            color: darkblue;

            &:hover {
              @include buttonHover();
            }

            &:active {
              transform: translateY(-2px);
            }
          }

          input,
          textarea {
            font-family: 'Montserrat', sans-serif;
            border-top: none;
            border-radius: 5px;
            margin: 0.5em;
            padding: 1em;
          }
        }
      }

      /* MAP */
      .map-title {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 2em;
      }

      .mapp-layout {
        border: none;
        .mapp-wrapper {
          margin: 0 auto;

          .mapp-content {
            padding-left: 2em;
            padding-right: 2em;
          }
        }
        // padding: 4em;
        // width: 50%;
        // height: 50%;
      }
    }

    /* BLOG & EVENTS PAGE */
    .page-container {
      margin-bottom: 5em;

      .page-banner {
        margin-top: 4em;

        h1 {
          font-size: 3rem;
        }
      }

      .event-time {
        text-align: center;
        margin-top: -2em;
      }

      h2 {
        text-align: center;
      }

      .past-events-link {
        text-decoration: underline;
      }

      .metabox-blog-post {
        p {
          font-size: smaller;
          margin-top: 2em;
        }

        .blog-home {
          text-decoration: underline;
          text-underline-offset: 2px;
          transition: all 0.2s ease-in;

          &:hover {
            cursor: pointer;
            opacity: 0.6;
          }
        }
      }

      .metabox {
        margin: 0;

        a {
          text-decoration: underline;
          transition: all 0.2s ease-in;

          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }

      .all-events-link {
        margin: 0;
        text-decoration: underline;
        text-underline-offset: 2px;
        transition: all 0.2s ease-in;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }

      .single-event {
        margin-top: 4em;

        .event-info {
          h2 {
            text-align: start;
            margin-bottom: -2em;
          }

          .generic-content {
            margin-left: -2em;
          }
        }
      }

      .single-post {
        background-color: whitesmoke;
        border-radius: 5px;
        padding: 1em;
        margin-bottom: 2em;
        box-shadow: 1px 1px gray;
        transition: all 0.2s ease-in;

        .metabox {
          p {
            font-size: smaller;
            a {
              text-decoration: underline;
              background-color: transparent;
              box-shadow: none;
            }
          }
        }

        .generic-content {
          margin: 0;
          margin-left: -2em;

          a {
            font-size: smaller;
          }
        }

        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }

      .generic-content {
        margin: 5em;
        display: flex;
        justify-content: center;
        gap: 8em;

        /* Single Class / Single Workout */
        .one-third {
          img {
            width: 100%;
            max-width: 650px;
            height: auto;
          }
        }

        /* LIKE HEART */
        .like-box {
          display: flex;
          flex-direction: column;
          min-width: 10%;
          margin-top: -8em;
          padding: 1em;
          gap: 1.5em;

          div {
            position: relative;

            .fa-heart-o {
              color: red;
              position: absolute;
              opacity: 1;
              visibility: visible;
              transition: all 0.5s ease-in;

              &:hover {
                cursor: pointer;
              }
            }

            .fa-heart {
              position: absolute;
              color: red;
              visibility: hidden;
              opacity: 0;
              transition: all 0.5s ease-in;

              &:hover {
                cursor: pointer;
              }
            }
          }

          span {
            flex: 0 0 0.5em;
            padding-left: 0.2em;
          }
        }

        [data-exist='yes'] {
          div {
            .fa-heart {
              visibility: visible;
              opacity: 1;
              transition: all 0.5s ease-in;
            }

            .fa-heart-o {
              color: transparent;
              visibility: hidden;
              opacity: 0;
              transition: all 0.5s ease-in;
            }
          }
        }

        /* SEARCH FORM WITH JS DISABLED */
        .search-form-container {
          @include searchForm(100%);
        }
      }

      hr {
        margin: 3em;
      }

      // RELATED WORKOUTS & CLASSES
      .link-list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        text-align: center;

        li {
          list-style-type: none;

          a {
            .related-post-container {
              position: relative;
              width: 20em;
              height: 15em;

              img {
                border-radius: 5px;
                width: 80%;
                max-width: 650px;
                height: auto;
              }

              .text-overlay {
                position: absolute;
                text-align: center;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                bottom: 28%;
                left: 10%;
                background-color: #f0f8ff;
                width: 80%;
                height: 20%;
                opacity: 0;
                transition: all 0.2s ease-in;
                padding-left: 0;
                text-align: center;

                h3 {
                  font-size: 1rem;
                }
              }
            }

            &:hover {
              cursor: pointer;

              .text-overlay {
                opacity: 1;
              }
            }
          }
        }
      }

      @include singleEventStyle();

      /* MY COMMENTS PAGE */
      .create-comment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #778899;
        border-radius: 5px;
        width: 60%;
        height: auto;
        margin: 0 auto;
        margin-top: 4em;
        margin-bottom: 6em;
        padding: 1em;

        h2 {
          text-align: center;
          font-size: 2rem;
        }

        input,
        textarea {
          margin: 0.5em;
          padding: 0.5em;
          border: none;
          border-radius: 5px;
          resize: none;
          outline: none;
          font-family: 'Montserrat', sans-serif;
        }

        .message {
          font-size: 0.8rem;
          color: orange;
        }

        .submit-comment-wrapper {
          display: flex;
          flex-direction: column;

          .submit-comment-btn {
            font-weight: bold;
            width: 5em;

            &:hover {
              @include linkHover();
            }
          }
        }

        .comment-limit-message {
          visibility: hidden;
          font-size: 0.8rem;
          color: orange;
          margin-left: 1em;

          &.visible {
            visibility: visible;
          }
        }
      }

      #my-comments {
        li {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          list-style-type: none;
          margin-bottom: 3em;
          transition: all 0.4s ease-out;

          &.fade-out {
            height: 0px !important;
            overflow: hidden !important;
            padding: 0 !important;
            margin: 0 !important;
            opacity: 0.5;
          }

          &.fade-in-calc {
            padding: 0 !important;
            margin: 0 !important;
            border: none !important;
            position: absolute;
            left: 0;
            right: 0;
            opacity: 0;
          }

          .comment-top {
            display: flex;
            gap: 1em;

            input {
              border: none;
              font-size: 2rem;
              outline: none;
              background-color: transparent;

              &.edit-mode {
                outline: auto;
              }
            }
          }

          textarea {
            width: 70%;
            border: none;
            outline: none;
            resize: none;
            background-color: transparent;

            &.edit-mode {
              outline: auto;
            }
          }

          button {
            width: 2em;
            height: 2em;
            font-size: 1rem;
            border: none;
            border-radius: 5px;
            transition: all 0.2s ease-in;

            &:hover {
              @include buttonHover();
            }
          }

          .delete-btn,
          .fa-trash-o {
            color: #ff0000;
          }

          .update-btn {
            display: none;
            background-color: darkblue;
            color: #f0f8ff;
            width: 5em;
            height: 2em;
            font-size: 1rem;
            border: none;
            border-radius: 5px;
            transition: all 0.2s ease-in;

            &.--visible {
              display: block;
            }

            &:hover {
              cursor: pointer;
              background-color: #778899;
            }

            i {
              color: #f0f8ff;
              margin: 0.2em;
            }
          }
        }
      }
    }

    .generic-content {
      /* SEARCH FORM WITH JS DISABLED */
      .search-form-container {
        @include searchForm(50%);
      }
    }
  }

  .page-container {
    margin: 6em;
  }

  .related-post {
    margin: 3em;
  }

  /* FOOTER */
  footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
    padding: 1em;
    background: rgb(250, 244, 244);
    background: linear-gradient(
      90deg,
      rgba(250, 244, 244, 1) 0%,
      rgba(250, 250, 250, 1) 94%
    );
  }

  /* SEARCH OVERLAY */
  .search-overlay {
    background: rgb(224, 224, 224);
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;

    /* FADE IN ANIMATION */
    &--show {
      visibility: visible;
      opacity: 1;
      transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms;
    }

    .search-overlay-top {
      background-color: lightgrey;
      height: 5em;
      position: relative;
      top: -2;
      width: 100%;

      .search-container {
        display: flex;
        justify-content: center;
        gap: 1em;
        padding: 1em;

        .search-input {
          width: 75%;
          box-sizing: border-box;
          border: none;
          background: transparent;
          font-size: 1.8rem;
          font-weight: 300;
          color: #000000;
          outline: none;
          padding-left: 1.2em;

          &::placeholder {
            font-size: 1.8rem;
            color: #000000;
          }
        }

        .fa-search {
          margin-top: 0.5em;
          margin-right: -2em;
          font-size: 1.2rem;
          color: #000000;
        }

        .fa-window-close {
          font-size: 1.5rem;
          color: #000000;
          transition: all 0.1s ease-in;

          &:hover {
            cursor: pointer;
            opacity: 0.6;
          }
        }
      }
    }

    .results-container {
      overflow-y: auto;
      padding: 2em;
      margin-top: -2em;
      height: 100%;
      overflow-y: scroll;

      .row {
        display: flex;
        justify-content: space-around;
        gap: 2em;
        margin-bottom: 20em;

        .one-third {
          display: flex;
          flex-direction: column;

          a {
            text-decoration: underline;
          }

          h2 {
            font-size: 2rem;
            text-align: center;
          }

          p {
            text-align: center;
          }

          li {
            list-style-type: none;
            margin: 0.5em;
          }

          /* Style classes and workouts search list */
          .search-list {
            display: flex;
            flex-direction: row;

            li {
              transition: transform 0.2s ease-in;

              .image-link {
                text-decoration: none;

                position: relative;
                width: 20em;
                height: 15em;

                img {
                  border-radius: 5px;
                  width: 80%;
                }

                span {
                  position: absolute;
                  text-align: center;
                  border-bottom-right-radius: 5px;
                  border-bottom-left-radius: 5px;
                  top: 0;
                  left: 0;
                  background-color: #f0f8ff;
                  width: 100%;
                  height: 2em;
                  padding-top: 0.5em;
                  opacity: 1;
                  transition: all 0.2s ease-in;
                }
              }

              &:hover {
                transform: scale(1.1);
              }

              /* Text overlay on image */
              @include classImage(80%, 80%);
            }
          }
        }
        @include singleEventStyle();
      }
    }
  }

  /* LOADING SPINNER */
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  .spinner {
    height: 100vh;
    position: relative;

    &::before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 15%;
      left: 45%;
      width: 4em;
      height: 4em;
      border: solid 4px #00008b;
      border-bottom-color: #f0f8ff;
      border-radius: 50%;
      animation: spinner 0.6s linear infinite;
    }
  }

  .blog-section {
    margin-top: 7em;
    text-align: center;
  }
}

/* MEDIA QUERIES */

@media (hover: hover) {
  a:hover {
    @include linkHover();
  }
}

/* Mobile */
@media screen and (min-width: 320px) {
  html {
    min-height: 100%;
    min-width: 100%;
    font-size: 35%;
    overflow-x: hidden;

    header {
      .container {
        justify-content: center;

        .hamburger {
          width: 28px;
          height: 30px;
          position: fixed;
          top: 2%;
          left: 1%;
          z-index: 200;
          display: flex;
          flex-direction: column;
          transition: all 0.2s ease-in;

          &.hide {
            top: -100px;
          }

          .bar {
            background-color: #000000;
            display: block;
            border-radius: 2px;
            width: 28px;
            height: 5px;
          }

          .bar-1 {
            transform: translateY(-4px);
          }

          .bar-3 {
            transform: translateY(4px);
          }

          &.clicked {
            .bar-1 {
              transform: translateY(4px) rotate(-45deg);
            }

            .bar-3 {
              transform: translateY(-6px) rotate(45deg);
            }

            .bar-2 {
              opacity: 0;
            }
          }
        }

        #search-icon {
          padding-top: 0.2em;
          font-size: 3.5rem;
          position: absolute;
          left: 12%;
          bottom: 20%;
        }

        .main-navigation {
          background: rgb(250, 244, 244);
          background: linear-gradient(
            90deg,
            rgba(250, 244, 244, 1) 0%,
            rgba(250, 250, 250, 1) 94%
          );
          width: 25em;
          min-height: 100vh;
          position: absolute;
          z-index: 100;
          left: -50%;
          top: 0;
          opacity: 0;
          transition: all 0.3s ease-in;

          ul {
            padding-top: 10em;
            display: flex;
            flex-direction: column;
            gap: 4em;

            li {
              list-style-type: none;
            }
          }

          &.show {
            left: 0;
            opacity: 1;
          }
        }

        h1 {
          position: absolute;
          right: 42%;
          top: -50%;
        }

        .header-util {
          position: absolute;
          right: 7.5%;
        }
      }
    }

    main {
      .homepage-feeds {
        .feed-container {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 3em;
        }
      }
    }

    .posts-container {
      /* Workouts Page */
      .workout-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;

        a {
          width: 50%;
          height: 50%;
        }
      }

      /* Classes Page */
      .classes-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .page-container {
      .link-list {
        li {
          a {
            .related-post-container {
              .text-overlay {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .contact-wrapper {
      .mapp-layout {
        border: none;

        .mapp-content {
          width: 50%;
          height: 50%;
        }
      }
    }

    .about-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  html {
    font-size: 45%;

    header {
      .container {
        .hamburger {
          top: 2.5%;
        }

        h1 {
          right: 47%;
        }

        #search-icon {
          left: 6%;
          bottom: 25%;
        }
      }
    }

    /* Classes Page */
    .posts-container {
      .classes-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }

    .contact-wrapper {
      .mapp-layout {
        border: none;

        .mapp-content {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  html {
    font-size: 100%;

    header {
      .container {
        .hamburger {
          visibility: hidden;
        }

        h1 {
          left: 1%;
          top: -50%;
        }

        .main-navigation {
          width: auto;
          min-height: auto;
          background: transparent;
          z-index: 0;
          top: -150%;
          left: 19%;
          opacity: 1;

          ul {
            display: flex;
            flex-direction: row;
            gap: 3em;

            li {
              list-style-type: none;

              a {
                font-size: 0.9rem;
                transition: all 0.2s ease-in;

                &:hover {
                  @include linkHover();
                  text-decoration: underline;
                  text-underline-offset: 8px;
                }
              }
            }
          }
        }

        #search-icon {
          left: 76%;
          top: 50%;
          font-size: 1rem;
          transition: all 0.2s ease-in;

          &:hover {
            transform: scale(1.1);
            opacity: 0.7;
          }
        }
      }
    }

    main {
      .homepage-feeds {
        .feed-container {
          flex-direction: row;
        }
      }
    }
  }
}
