@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  color: #303030;
}

/* Override Wordpress official styles for login page */
.login h1 a {
  background-image: none;
  text-indent: 0%;
  font-size: 3rem;
  width: 100%;
}

html {
  min-width: 100%;
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* FOOTER */
  /* SEARCH OVERLAY */
  /* LOADING SPINNER */
}

html body {
  font-family: 'Montserrat', sans-serif;
  margin-left: 0;
  min-height: 100vh;
  margin-bottom: 8em;
  overflow-x: hidden;
  background: #cccbe0;
  background: -webkit-gradient(linear, left top, right top, from(#cccbe0), color-stop(94%, #fafafa));
  background: linear-gradient(90deg, #cccbe0 0%, #fafafa 94%);
  /* HEADER */
  /* MAIN */
  /* ABOUT PAGE */
  /* WORKOUTS PAGE */
  /* CLASSES & WORKOUT PAGE */
  /* CONTACT PAGE */
  /* MAP */
  /* BLOG & EVENTS PAGE */
}

html body.no-scroll {
  overflow: hidden;
}

html body a {
  text-decoration: none;
  color: #000000;
}

html body header {
  background: #faf4f4;
  background: -webkit-gradient(linear, left top, right top, from(#faf4f4), color-stop(94%, #fafafa));
  background: linear-gradient(90deg, #faf4f4 0%, #fafafa 94%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5em;
  padding: 1.5em;
  margin-bottom: 10em;
  z-index: 5;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

html body header.hide {
  top: -100px;
}

html body header .container {
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 2em;
  /* Highlight current page link */
}

html body header .container .hamburger {
  cursor: pointer;
  width: 35px;
  height: 30px;
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body header .container .hamburger .bar {
  background-color: #000000;
  display: block;
  border-radius: 2px;
  width: 35px;
  height: 5px;
}

html body header .container .hamburger .bar-1 {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

html body header .container .hamburger .bar-3 {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

html body header .container .hamburger.clicked .bar-1 {
  -webkit-transform: translateY(4px) rotate(-45deg);
          transform: translateY(4px) rotate(-45deg);
}

html body header .container .hamburger.clicked .bar-3 {
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
}

html body header .container .hamburger.clicked .bar-2 {
  opacity: 0;
}

html body header .container .mobile-menu {
  opacity: 0;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5em;
  position: fixed;
  padding-top: 1em;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 30em;
  height: 100vh;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

html body header .container .mobile-menu li {
  list-style-type: none;
  font-size: 1.2rem;
}

html body header .container .mobile-menu li a:hover {
  color: #778899;
  cursor: pointer;
}

html body header .container .mobile-menu.show {
  opacity: 0.9;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

html body header .container h1 {
  margin-top: -5px;
  margin-left: -5px;
  font-size: 3rem;
}

html body header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
}

html body header .container nav ul li {
  list-style-type: none;
}

html body header .container nav ul li a {
  margin-right: 3em;
  padding-bottom: 0.2em;
  font-size: 1rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

html body header .container nav ul li a:hover {
  color: #778899;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 8px;
}

html body header .container .header-util {
  margin-top: -1em;
  margin-right: 2em;
}

html body header .container .header-util a,
html body header .container .header-util span {
  font-size: 0.8rem;
  margin-right: 0.5em;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

html body header .container .header-util a:hover,
html body header .container .header-util span:hover {
  color: #778899;
  cursor: pointer;
}

html body header .container .header-util i {
  font-size: 0.8rem;
}

html body header .container .header-util i:hover {
  color: #778899;
  cursor: pointer;
}

html body header .container .current-menu-item a {
  text-shadow: 1px #ff0000;
  color: lightgray;
}

html body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* HOMEPAGE WORKOUTS */
  /* HOMEPAGE EVENTS */
  /* HOMEPAGE SOCIAL MEDIA FEEDS */
}

html body main .heading-section {
  background-image: url("../images/image-front.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50em;
  width: 100vw;
}

html body main .heading-section .heading {
  color: white;
  text-align: center;
  padding: 2em;
  margin: 0 auto;
  margin-top: 15em;
  opacity: 0.7;
  background-color: #282828;
  border-radius: 2px;
  width: 35em;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

html body main .heading-section .heading h1 {
  font-size: 3rem;
  color: white;
}

html body main .heading-section .heading h4 {
  margin-top: -2em;
  color: white;
}

html body main .heading-section .heading:hover {
  opacity: 0.8;
  cursor: pointer;
}

html body main .history-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

html body main .history-section h2 {
  font-size: 2.5rem;
}

html body main .history-section .our-history {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
}

html body main .history-section .our-history img {
  width: 40%;
  height: 30%;
  border-radius: 5px;
}

html body main .homepage-classes {
  text-align: center;
  margin-top: 3em;
}

html body main .homepage-classes h2 {
  font-size: 2.5rem;
  margin-bottom: 3em;
}

html body main .homepage-classes .classes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5em;
  gap: 6em;
}

html body main .homepage-classes .classes-container .single-class h3 {
  position: relative;
  top: 40%;
  width: 50%;
  margin: 0 auto;
  font-size: 2.3rem;
  font-weight: bolder;
  padding: 0.5em;
  color: white;
}

html body main .homepage-classes .classes-container .yoga {
  background-image: url("../images/yoga.jpg");
  background-size: cover;
  background-position: center;
  height: 25em;
  width: 45%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.7;
  border-radius: 5px;
}

html body main .homepage-classes .classes-container .yoga:hover {
  cursor: pointer;
  opacity: 0.8;
}

html body main .homepage-classes .classes-container .zumba {
  background-image: url("../images/zumba.jpg");
  background-size: cover;
  background-position: center;
  height: 25em;
  width: 45%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.7;
  border-radius: 5px;
}

html body main .homepage-classes .classes-container .zumba:hover {
  cursor: pointer;
  opacity: 0.8;
}

html body main .homepage-classes .classes-container .outdoor {
  background-image: url("../images/outdoor.jpg");
  background-size: cover;
  background-position: center;
  height: 25em;
  width: 45%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.7;
  border-radius: 5px;
}

html body main .homepage-classes .classes-container .outdoor:hover {
  cursor: pointer;
  opacity: 0.8;
}

html body main .homepage-classes .classes-container .cycling {
  background-image: url("../images/cycling.jpg");
  background-size: cover;
  background-position: center;
  height: 25em;
  width: 45%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.7;
  border-radius: 5px;
}

html body main .homepage-classes .classes-container .cycling:hover {
  cursor: pointer;
  opacity: 0.8;
}

html body main .homepage-workouts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body main .homepage-workouts h2 {
  font-size: 2.5rem;
}

html body main .homepage-workouts .workouts-container {
  margin: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15em;
}

html body main .homepage-workouts .workouts-container .workouts-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5em;
}

html body main .homepage-workouts .workouts-container .workouts-heading .workout-image-container {
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

html body main .homepage-workouts .workouts-container .workouts-heading .workout-image-container img {
  width: 100%;
  height: 80%;
  border-radius: 5px;
}

html body main .homepage-workouts .workouts-container .workouts-heading .workout-image-container a {
  position: absolute;
  left: 25%;
  top: 30%;
  width: 8em;
  text-align: center;
  border-radius: 2px;
  color: white;
  font-size: 2rem;
  padding: 1em;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

html body main .homepage-workouts .workouts-container .workouts-heading .workout-image-container:hover {
  cursor: pointer;
  opacity: 0.9;
}

html body main .homepage-workouts .workouts-container .workouts-heading .workout-image-container:hover a {
  opacity: 0.9;
}

html body main .homepage-events .events-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  background-image: url("../images/events.jpg");
  background-size: cover;
  background-position: center;
  height: 40em;
  width: 100vw;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

html body main .homepage-events .events-heading a {
  position: relative;
  top: 40%;
  width: 10em;
  height: 5%;
  text-align: center;
  margin: 0 auto;
  padding: 1.2em;
  padding-top: 1em;
  font-size: 2rem;
  background-color: #778899;
  border-radius: 5px;
  opacity: 0.8;
  color: white;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

html body main .homepage-events .events-heading a:hover {
  opacity: 0.75;
  background-color: #282828;
  cursor: pointer;
}

html body main .homepage-feeds {
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body main .homepage-feeds h2 {
  font-size: 2.5rem;
  text-align: center;
}

html body main .homepage-feeds .social-media-container {
  margin-bottom: 4em;
}

html body main .homepage-feeds .social-media-container i {
  margin: 0.5em;
  font-size: 3rem;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

html body main .homepage-feeds .social-media-container i:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html body main .homepage-feeds .social-media-container .fa-facebook-official {
  color: #00008b;
}

html body main .homepage-feeds .social-media-container .fa-instagram {
  color: darkred;
}

html body main .homepage-feeds .social-media-container .fa-twitter {
  color: lightblue;
}

html body main .homepage-feeds .social-media-container .fa-pinterest {
  color: red;
}

html body main .homepage-feeds .feed-container {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body main .homepage-feeds .feed-container img {
  width: 25%;
  height: 15%;
  border-radius: 5px;
}

html body .blog-section h1 {
  font-size: 2.5rem;
}

html body .metabox {
  margin-left: 3em;
}

html body .metabox a {
  -webkit-box-shadow: 1px 1px #888888;
          box-shadow: 1px 1px #888888;
  background-color: lightblue;
  opacity: 0.8;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

html body .metabox:hover {
  cursor: pointer;
}

html body .metabox:hover a {
  opacity: 0.6;
}

html body .about-container {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 5em;
  padding: 2em;
}

html body .about-container .about-image {
  width: 40%;
  height: 20%;
  border-radius: 5px;
}

html body .about-container .page-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: lightblue;
  padding: 0.5em;
  margin-right: 2em;
  border-radius: 5px;
  width: 100%;
  height: 50%;
}

html body .about-container .page-list h2 {
  padding-left: 0.2em;
}

html body .about-container .page-list h2:hover a {
  color: #778899;
  cursor: pointer;
}

html body .about-container .page-list ul {
  margin-left: -2em;
}

html body .about-container .page-list ul li {
  list-style-type: none;
  margin-bottom: 0.5em;
}

html body .about-container .page-list ul li:hover a {
  color: #778899;
  cursor: pointer;
}

html body .posts-container h1 {
  text-align: center;
  font-size: 2.5rem;
}

html body .posts-container .workout-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em;
  gap: 1em;
}

html body .posts-container .workout-wrapper a {
  position: relative;
  text-align: center;
}

html body .posts-container .workout-wrapper a .workout-card-image {
  border-radius: 5px;
  opacity: 0.7;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

html body .posts-container .workout-wrapper a h3 {
  position: absolute;
  top: 30%;
  left: 13%;
  font-size: 1.8rem;
  font-weight: bolder;
  padding: 0.5em;
  color: white;
}

html body .posts-container .workout-wrapper a:hover {
  cursor: pointer;
}

html body .posts-container .workout-wrapper a:hover .workout-card-image {
  opacity: 0.8;
}

html body .posts-container .workout-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .posts-container .workout-wrapper h3 {
  font-size: 2rem;
}

html body .posts-container .classes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4em;
  padding: 2em;
  gap: 1em;
}

html body .posts-container .classes-container .single-class h3 {
  position: relative;
  top: 40%;
  width: 50%;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bolder;
  padding: 0.5em;
  color: white;
}

html body .posts-container .classes-container .yoga {
  background-image: url("../images/yoga.jpg");
  background-size: cover;
  background-position: center;
  height: 25em;
  width: 40%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.7;
  border-radius: 5px;
}

html body .posts-container .classes-container .yoga:hover {
  cursor: pointer;
  opacity: 0.8;
}

html body .posts-container .classes-container .zumba {
  background-image: url("../images/zumba.jpg");
  background-size: cover;
  background-position: center;
  height: 25em;
  width: 40%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.7;
  border-radius: 5px;
}

html body .posts-container .classes-container .zumba:hover {
  cursor: pointer;
  opacity: 0.8;
}

html body .posts-container .classes-container .outdoor {
  background-image: url("../images/outdoor.jpg");
  background-size: cover;
  background-position: center;
  height: 25em;
  width: 40%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.7;
  border-radius: 5px;
}

html body .posts-container .classes-container .outdoor:hover {
  cursor: pointer;
  opacity: 0.8;
}

html body .posts-container .classes-container .cycling {
  background-image: url("../images/cycling.jpg");
  background-size: cover;
  background-position: center;
  height: 25em;
  width: 40%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.7;
  border-radius: 5px;
}

html body .posts-container .classes-container .cycling:hover {
  cursor: pointer;
  opacity: 0.8;
}

html body .form-container {
  margin: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .form-container h1 {
  font-size: 3rem;
  margin-bottom: 1em;
}

html body .form-container .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

html body .form-container .contact-form button {
  margin: 0.5em;
  padding: 1em;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  height: 3.5em;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: lightblue;
}

html body .form-container .contact-form button:hover {
  cursor: pointer;
  background-color: #f0f8ff;
}

html body .form-container .contact-form button:active {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

html body .form-container .contact-form input,
html body .form-container .contact-form textarea {
  font-family: 'Montserrat', sans-serif;
  border-top: none;
  border-radius: 5px;
  margin: 0.5em;
  padding: 1em;
}

html body .map-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2em;
}

html body .mapp-layout {
  position: relative;
  z-index: 1;
}

html body .page-container {
  margin-bottom: 5em;
  /* Text overlay on image */
  /* MY COMMENTS PAGE */
}

html body .page-container .event-time {
  text-align: center;
  margin-top: -2em;
}

html body .page-container h2 {
  text-align: center;
}

html body .page-container .past-events-link {
  text-decoration: underline;
}

html body .page-container .metabox-blog-post p {
  font-size: smaller;
  margin-top: 2em;
}

html body .page-container .metabox-blog-post p a {
  text-decoration: underline;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

html body .page-container .metabox-blog-post .blog-home {
  -webkit-box-shadow: 1px 1px #888888;
          box-shadow: 1px 1px #888888;
  background-color: lightblue;
  opacity: 0.8;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

html body .page-container .metabox-blog-post:hover {
  cursor: pointer;
}

html body .page-container .metabox-blog-post:hover a {
  opacity: 0.6;
}

html body .page-container .metabox {
  margin: 0;
}

html body .page-container .metabox a {
  -webkit-box-shadow: 1px 1px #888888;
          box-shadow: 1px 1px #888888;
  background-color: lightblue;
  opacity: 0.8;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

html body .page-container .metabox:hover {
  cursor: pointer;
}

html body .page-container .metabox:hover a {
  opacity: 0.6;
}

html body .page-container .all-events-link {
  -webkit-box-shadow: 1px 1px #888888;
          box-shadow: 1px 1px #888888;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

html body .page-container .all-events-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

html body .page-container .single-event {
  margin-top: 2em;
}

html body .page-container .single-event .event-info h2 {
  text-align: start;
  margin-bottom: -2em;
}

html body .page-container .single-event .event-info .generic-content {
  margin-left: -2em;
}

html body .page-container .single-post {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 2em;
  -webkit-box-shadow: 1px 1px gray;
          box-shadow: 1px 1px gray;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

html body .page-container .single-post .metabox p {
  font-size: smaller;
}

html body .page-container .single-post .metabox p a {
  text-decoration: underline;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

html body .page-container .single-post .generic-content {
  margin: 0;
  margin-left: -2em;
}

html body .page-container .single-post .generic-content a {
  font-size: smaller;
}

html body .page-container .single-post:hover {
  cursor: pointer;
  opacity: 0.7;
}

html body .page-container .generic-content {
  margin: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
  /* LIKE HEART */
  /* SEARCH FORM WITH JS DISABLED */
}

html body .page-container .generic-content .like-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.2em;
  height: 100%;
  width: 25%;
  border-radius: 5px;
}

html body .page-container .generic-content .like-box span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1em;
          flex: 0 0 1em;
}

html body .page-container .generic-content .like-box .fa-heart-o {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.5em;
          flex: 0 0 0.5em;
  color: red;
  position: absolute;
  z-index: 5;
  right: 10.4em;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

html body .page-container .generic-content .like-box .fa-heart-o:hover {
  cursor: pointer;
}

html body .page-container .generic-content .like-box .fa-heart {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.5em;
          flex: 0 0 0.5em;
  color: transparent;
  position: absolute;
  z-index: -1;
  right: 10.4em;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

html body .page-container .generic-content .like-box .fa-heart:hover {
  cursor: pointer;
}

html body .page-container .generic-content [data-exist='yes'] .fa-heart {
  z-index: 5;
  color: #ff0000;
}

html body .page-container .generic-content [data-exist='yes'] .fa-heart-o {
  z-index: -1;
}

html body .page-container .generic-content .search-form-container .search-form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  background-color: #778899;
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 4px;
}

html body .page-container .generic-content .search-form-container .search-form label {
  font-size: 1.5rem;
}

html body .page-container .generic-content .search-form-container .search-form .search-form-inputs input {
  padding: 0.8em;
  width: 100%;
  border: none;
  border-radius: 4px;
  margin: 0.2em;
}

html body .page-container .generic-content .search-form-container .search-form .search-form-inputs .search-input-submit:hover {
  cursor: pointer;
  background-color: #f0f8ff;
}

html body .page-container .image-link {
  text-decoration: none;
  position: relative;
  text-align: center;
}

html body .page-container .image-link img {
  height: 25%;
  width: 25%;
}

html body .page-container .image-link span {
  width: 100%;
  background-color: lightgray;
  color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

html body .page-container hr {
  margin: 3em;
}

html body .page-container .link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .page-container .link-list li {
  list-style-type: none;
}

html body .page-container .link-list li a {
  position: relative;
  display: inline-block;
}

html body .page-container .link-list li a .related-post-container {
  width: 20em;
  height: 15em;
}

html body .page-container .link-list li a .related-post-container img {
  display: block;
  width: 20em;
  height: 15em;
  border-radius: 5px;
}

html body .page-container .link-list li a .related-post-container .text-overlay {
  position: absolute;
  text-align: center;
  bottom: 0;
  background-color: #f0f8ff;
  width: 100%;
  height: 20%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

html body .page-container .link-list li a .related-post-container .text-overlay h3 {
  font-size: 1rem;
}

html body .page-container .link-list li a:hover {
  cursor: pointer;
}

html body .page-container .link-list li a:hover .text-overlay {
  opacity: 0.9;
}

html body .page-container .single-event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

html body .page-container .single-event .date-container {
  background: darkblue;
  margin-top: 0.5em;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  padding: 1em;
}

html body .page-container .single-event .date-container p {
  text-align: center;
  padding: 0.5em 0.5em;
  color: white;
  font-weight: bolder;
  font-size: 0.8rem;
  height: 4em;
  width: 4em;
}

html body .page-container .create-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #778899;
  border-radius: 5px;
  width: 60%;
  margin: 0 auto;
  margin-top: -5em;
  margin-bottom: 6em;
  padding: 1em;
}

html body .page-container .create-comment h2 {
  text-align: center;
  font-size: 2rem;
}

html body .page-container .create-comment input,
html body .page-container .create-comment textarea {
  margin: 0.5em;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  resize: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

html body .page-container .create-comment .message {
  font-size: 0.8rem;
  color: orange;
}

html body .page-container .create-comment .submit-comment-btn {
  font-weight: bold;
  width: 15%;
}

html body .page-container .create-comment .submit-comment-btn:hover {
  color: #778899;
  cursor: pointer;
}

html body .page-container .create-comment .comment-limit-message {
  visibility: hidden;
  font-size: 0.8rem;
  color: orange;
  margin-left: 1em;
}

html body .page-container .create-comment .comment-limit-message.visible {
  visibility: visible;
}

html body .page-container #my-comments li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  list-style-type: none;
  margin: 3em;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  opacity: 1;
}

html body .page-container #my-comments li.fade-out {
  height: 0px !important;
  overflow: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
  opacity: 0.5;
}

html body .page-container #my-comments li.fade-in-calc {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
}

html body .page-container #my-comments li .comment-top input {
  border: none;
  font-size: 2rem;
  outline: none;
}

html body .page-container #my-comments li .comment-top input.edit-mode {
  outline: auto;
}

html body .page-container #my-comments li textarea {
  width: 70%;
  border: none;
  outline: none;
  resize: none;
}

html body .page-container #my-comments li textarea.edit-mode {
  outline: auto;
}

html body .page-container #my-comments li button {
  border: none;
  padding: 1em;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

html body .page-container #my-comments li button:hover {
  cursor: pointer;
  background-color: #f0f8ff;
}

html body .page-container #my-comments li button i {
  margin: 0.2em;
}

html body .page-container #my-comments li .delete-btn,
html body .page-container #my-comments li .fa-trash-o {
  color: #ff0000;
}

html body .page-container #my-comments li .update-btn {
  display: none;
  border: none;
  padding: 1em;
  border-radius: 5px;
  width: 6em;
  background-color: darkblue;
  color: #f0f8ff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

html body .page-container #my-comments li .update-btn.--visible {
  display: block;
}

html body .page-container #my-comments li .update-btn:hover {
  cursor: pointer;
  background-color: #778899;
}

html body .page-container #my-comments li .update-btn i {
  color: #f0f8ff;
  margin: 0.2em;
}

html body .page-banner {
  margin-top: 8em;
}

html body .page-banner h1 {
  font-size: 3rem;
}

html body .generic-content {
  /* SEARCH FORM WITH JS DISABLED */
}

html body .generic-content .search-form-container .search-form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  background-color: #778899;
  width: 50%;
  padding: 1em;
  border: none;
  border-radius: 4px;
}

html body .generic-content .search-form-container .search-form label {
  font-size: 1.5rem;
}

html body .generic-content .search-form-container .search-form .search-form-inputs input {
  padding: 0.8em;
  width: 100%;
  border: none;
  border-radius: 4px;
  margin: 0.2em;
}

html body .generic-content .search-form-container .search-form .search-form-inputs .search-input-submit:hover {
  cursor: pointer;
  background-color: #f0f8ff;
}

html .related-post {
  margin: 3em;
}

html footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3em;
  padding: 1em;
  background: #faf4f4;
  background: -webkit-gradient(linear, left top, right top, from(#faf4f4), color-stop(94%, #fafafa));
  background: linear-gradient(90deg, #faf4f4 0%, #fafafa 94%);
  position: relative;
  top: calc(100vh - 100px);
  left: 0;
  bottom: 0;
}

html .search-overlay {
  background: #e0e0e0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
  transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  /* FADE IN ANIMATION */
}

html .search-overlay--show {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms;
  transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms;
}

html .search-overlay .search-overlay-top {
  background-color: lightgrey;
  height: 5em;
  position: relative;
  top: -2;
  width: 100%;
}

html .search-overlay .search-overlay-top .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding: 1em;
}

html .search-overlay .search-overlay-top .search-container .search-input {
  width: 75%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background: transparent;
  font-size: 1.8rem;
  font-weight: 300;
  color: #000000;
  outline: none;
  padding-left: 1.2em;
}

html .search-overlay .search-overlay-top .search-container .search-input::-webkit-input-placeholder {
  font-size: 1.8rem;
  color: #000000;
}

html .search-overlay .search-overlay-top .search-container .search-input:-ms-input-placeholder {
  font-size: 1.8rem;
  color: #000000;
}

html .search-overlay .search-overlay-top .search-container .search-input::-ms-input-placeholder {
  font-size: 1.8rem;
  color: #000000;
}

html .search-overlay .search-overlay-top .search-container .search-input::placeholder {
  font-size: 1.8rem;
  color: #000000;
}

html .search-overlay .search-overlay-top .search-container .fa-search {
  margin-top: 0.5em;
  margin-right: -2em;
  font-size: 1.2rem;
  color: #000000;
}

html .search-overlay .search-overlay-top .search-container .fa-window-close {
  font-size: 1.5rem;
  color: #000000;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

html .search-overlay .search-overlay-top .search-container .fa-window-close:hover {
  cursor: pointer;
  opacity: 0.6;
}

html .search-overlay .results-container {
  overflow-y: auto;
  padding: 2em;
  margin-top: -2em;
  height: 100%;
  overflow-y: scroll;
}

html .search-overlay .results-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html .search-overlay .results-container .row .one-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Style classes and workouts search list */
}

html .search-overlay .results-container .row .one-third a {
  text-decoration: underline;
}

html .search-overlay .results-container .row .one-third h2 {
  font-size: 2rem;
  text-align: center;
}

html .search-overlay .results-container .row .one-third p {
  text-align: center;
}

html .search-overlay .results-container .row .one-third li {
  list-style-type: none;
  margin: 0.5em;
}

html .search-overlay .results-container .row .one-third .search-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .search-overlay .results-container .row .one-third .search-list li {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  /* Text overlay on image */
  /* Text overlay on image */
}

html .search-overlay .results-container .row .one-third .search-list li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html .search-overlay .results-container .row .one-third .search-list li .image-link {
  text-decoration: none;
  position: relative;
  text-align: center;
}

html .search-overlay .results-container .row .one-third .search-list li .image-link img {
  height: 80%;
  width: 80%;
}

html .search-overlay .results-container .row .one-third .search-list li .image-link span {
  width: 100%;
  background-color: lightgray;
  color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

html .search-overlay .results-container .row .single-event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

html .search-overlay .results-container .row .single-event .date-container {
  background: darkblue;
  margin-top: 0.5em;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  padding: 1em;
}

html .search-overlay .results-container .row .single-event .date-container p {
  text-align: center;
  padding: 0.5em 0.5em;
  color: white;
  font-weight: bolder;
  font-size: 0.8rem;
  height: 4em;
  width: 4em;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

html .spinner {
  height: 100vh;
  position: relative;
}

html .spinner::before {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 15%;
  left: 50%;
  width: 4em;
  height: 4em;
  border: solid 6px #00008b;
  border-bottom-color: #f0f8ff;
  border-radius: 50%;
  -webkit-animation: spinner 0.6s linear infinite;
          animation: spinner 0.6s linear infinite;
}

html .blog-section {
  margin-top: 7em;
  text-align: center;
}

html .page-container {
  margin: 7em;
}

/* MEDIA QUERIES */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
/*# sourceMappingURL=style.css.map */