@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

@mixin classImage($height, $width) {
  /* Text overlay on image */
  .image-link {
    text-decoration: none;
    position: relative;
    text-align: center;

    img {
      height: $height;
      width: $width;
    }

    span {
      width: 100%;
      background-color: lightgray;
      color: #000000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }
}

@mixin singleEventStyle() {
  .single-event {
    display: flex;
    gap: 2em;

    .date-container {
      background: darkblue;
      margin-top: 0.5em;
      height: 4em;
      width: 4em;
      border-radius: 50%;
      padding: 1em;

      p {
        text-align: center;
        padding: 0.5em 0.5em;
        color: white;
        font-weight: bolder;
        font-size: 0.8rem;
        height: 4em;
        width: 4em;
      }
    }
  }
}

@mixin searchForm($width) {
  .search-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #778899;
    width: $width;
    padding: 1em;
    border: none;
    border-radius: 4px;

    label {
      font-size: 1.5rem;
    }

    .search-form-inputs {
      input {
        padding: 0.8em;
        width: 100%;
        border: none;
        border-radius: 4px;
        margin: 0.2em;
      }

      .search-input-submit:hover {
        @include buttonHover();
      }
    }
  }
}

@mixin linkStyle() {
  text-decoration: none;
  color: #000000;
}

@mixin linkHover() {
  color: #778899;
  cursor: pointer;
}

@mixin buttonHover() {
  cursor: pointer;
  background-color: #f0f8ff;
}

* {
  color: #303030;
}

/* Override Wordpress official styles for login page */
.login {
  h1 {
    a {
      background-image: none;
      text-indent: 0%;
      font-size: 3rem;
      width: 100%;
    }
  }
}

html {
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  body {
    font-family: 'Montserrat', sans-serif;
    margin-left: 0;
    min-height: 100vh;
    margin-bottom: 8em;
    overflow-x: hidden;

    &.no-scroll {
      overflow-y: hidden;
    }

    a {
      @include linkStyle();
    }

    /* HEADER */
    header {
      background: whitesmoke;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 2.5em;
      padding: 1.5em;
      margin-bottom: 10em;
      z-index: 5;

      .container {
        height: 3em;
        display: flex;
        justify-content: space-around;
        padding-bottom: 2em;

        h1 {
          margin-top: -5px;
          margin-left: -5px;
          font-size: 3rem;
        }

        nav {
          ul {
            display: flex;

            li {
              margin-right: 3em;
              font-size: 1rem;
              list-style-type: none;
            }
          }

          li a:hover {
            @include linkHover();
          }
        }

        .header-util i {
          font-size: 0.8rem;

          &:hover {
            @include linkHover();
          }
        }

        /* Highlight current page link */
        .current-menu-item a {
          text-shadow: 1px #ff0000;
          color: lightgray;
        }
      }
    }

    /* MAIN */
    main {
      display: flex;
      flex-direction: column;

      .heading-section {
        background-image: url('../images/image-front.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 50em;

        .heading {
          h2 {
            font-size: 3rem;
            color: white;
          }

          h3 {
            color: white;
          }

          color: whitesmoke;
          text-align: center;
          padding: 2em 2em;
          margin: 0 auto;
          margin-top: 15em;
          background-color: black;
          opacity: 0.75;
          width: 40%;
          transition: all 0.2s ease-in;

          &:hover {
            opacity: 0.9;
            background-color: #282828;
            cursor: pointer;
          }
        }
      }

      .show-posts {
        display: flex;

        h2 {
          text-align: center;
          font-size: 2rem;
        }
        hr {
          margin-bottom: 2em;
        }
        .post-title-style {
          font-size: 1.2rem;
          list-style-type: none;
          text-align: center;
        }

        .workout-posts {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 1em;
          background-color: white;
          border-right: 3px solid gray;

          button {
            font-size: 1rem;
            margin-top: 2em;
            border-radius: 5px;
            border: none;
            background-color: lightgray;
            padding: 1em;
            transition: all 0.2s ease-in;

            &:hover {
              cursor: pointer;
              background-color: whitesmoke;
            }
          }
        }
      }

      .homepage-classes {
        text-align: center;
        margin-top: 5em;

        h2 {
          font-size: 2.5rem;
          margin-bottom: 3em;
        }

        .classes-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin: 5em;
          gap: 6em;

          .single-class h3 {
            position: relative;
            top: 40%;
            width: 50%;
            margin: 0 auto;
            font-size: 2.3rem;
            font-weight: bolder;
            padding: 0.5em;
            color: white;
          }

          .yoga {
            background-image: url('../images/yoga.jpg');
            background-size: cover;
            background-position: center;
            height: 25em;
            width: 45%;
            transition: all 0.2s ease-in;
            opacity: 0.7;

            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }

          .zumba {
            background-image: url('../images/zumba.jpg');
            background-size: cover;
            background-position: center;
            height: 25em;
            width: 45%;
            transition: all 0.2s ease-in;
            opacity: 0.7;

            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }

          .outdoor {
            background-image: url('../images/outdoor.jpg');
            background-size: cover;
            background-position: center;
            height: 25em;
            width: 45%;
            transition: all 0.2s ease-in;
            opacity: 0.7;

            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }

          .cycling {
            background-image: url('../images/cycling.jpg');
            background-size: cover;
            background-position: center;
            height: 25em;
            width: 45%;
            transition: all 0.2s ease-in;
            opacity: 0.7;

            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }
        }
      }

      .history-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
          font-size: 2.5rem;
        }

        .our-history {
          text-align: center;
          display: flex;
          margin: 5em;
          justify-content: center;
          gap: 2em;

          img {
            width: 40%;
            height: 30%;
          }
        }
      }

      /* EVENTS */
      .homepage-events {
        margin-top: 5em;

        .events-container {
          display: flex;
          margin: 0 auto;
          background-image: url('../images/events.jpg');
          background-size: cover;
          background-position: center;
          height: 40em;
          width: 100vw;
          transition: all 0.2s ease-in;

          a {
            position: relative;
            top: 40%;
            width: 10em;
            height: 5%;
            text-align: center;
            margin: 0 auto;
            padding: 1.2em;
            padding-top: 1em;
            font-size: 2rem;
            background-color: #778899;
            opacity: 0.8;
            color: white;
            transition: all 0.3s ease-in;

            &:hover {
              cursor: pointer;
              background-color: lightblue;
            }
          }
        }
      }
    }

    .blog-section {
      h1 {
        font-size: 2.5rem;
      }
    }

    /* CONTACT PAGE */
    .form-container {
      margin: 6em;
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;

      h1 {
        font-size: 2.5rem;
      }

      .contact-form {
        display: flex;
        flex-direction: column;
        width: 60%;

        button {
          margin: 0.5em;
          padding: 1em;
          border-radius: 5px;
          border: none;
          font-weight: bold;
          height: 3.5em;
          transition: all 0.2s ease-in;

          &:hover {
            @include buttonHover();
          }

          &:active {
            transform: translateY(-2px);
          }
        }

        input,
        textarea {
          font-family: 'Montserrat', sans-serif;
          border-top: none;
          border-radius: 5px;
          margin: 0.5em;
          padding: 1em;
        }
      }
    }

    .page-container {
      margin-bottom: 5em;

      .generic-content {
        margin-top: 5em;
        display: flex;
        justify-content: center;
        gap: 2em;

        .like-box {
          display: flex;
          background-color: #778899;
          padding: 0.5em;
          height: 2em;
          border-radius: 5px;

          i {
            margin: 0.2em;
            color: red;

            &:hover {
              cursor: pointer;
            }
          }
        }

        [data-exist='yes'] {
          .fa-heart {
            z-index: 10;
          }

          .fa-heart-o {
            position: absolute;
            z-index: -2;
          }
        }

        [data-exist='no'] {
          .fa-heart-o {
            z-index: 10;
          }

          .fa-heart {
            position: absolute;
            z-index: -2;
          }
        }

        /* SEARCH FORM WITH JS DISABLED */
        .search-form-container {
          @include searchForm(100%);
        }
      }

      @include classImage(25%, 25%);

      .link-list {
        li {
          list-style-type: none;

          a {
            position: relative;
            display: inline-block;

            .related-post-container {
              width: 30em;
              height: 22em;

              img {
                display: block;
                width: 30em;
                height: 22em;
              }

              .text-overlay {
                position: absolute;
                text-align: center;
                bottom: 0;
                background-color: #f0f8ff;
                width: 100%;
                height: 20%;
                opacity: 0;
                transition: all 0.2s ease-in;

                h3 {
                  font-size: 1rem;
                  padding-top: 0.5em;
                }
              }
            }

            &:hover {
              cursor: pointer;

              .text-overlay {
                opacity: 0.9;
              }
            }
          }
        }
      }

      @include singleEventStyle();

      /* MY COMMENTS PAGE */
      .create-comment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #778899;
        border-radius: 2px;
        width: 60%;
        margin: 0 auto;
        margin-top: -5em;
        margin-bottom: 6em;
        padding: 1em;

        h2 {
          text-align: center;
          font-size: 2rem;
        }

        input,
        textarea {
          margin: 0.5em;
          padding: 0.5em;
          border: none;
          border-radius: 2px;
          resize: none;
          outline: none;
          font-family: 'Montserrat', sans-serif;
        }

        .message {
          font-size: 0.8rem;
          color: orange;
        }

        .submit-comment-btn {
          font-weight: bold;
          width: 15%;

          &:hover {
            @include linkHover();
          }
        }

        .comment-limit-message {
          visibility: hidden;
          font-size: 0.8rem;
          color: orange;
          margin-left: 1em;

          &.visible {
            visibility: visible;
          }
        }
      }

      #my-comments {
        li {
          display: flex;
          flex-direction: column;
          gap: 1em;
          list-style-type: none;
          margin: 3em;
          transition: all 0.4s ease-out;
          opacity: 1;

          &.fade-out {
            height: 0px !important;
            overflow: hidden !important;
            padding: 0 !important;
            margin: 0 !important;
            opacity: 0.5;
          }

          &.fade-in-calc {
            padding: 0 !important;
            margin: 0 !important;
            border: none !important;
            position: absolute;
            left: 0;
            right: 0;
            opacity: 0;
          }

          .comment-top {
            input {
              border: none;
              font-size: 2rem;
              outline: none;

              &.edit-mode {
                outline: auto;
              }
            }
          }

          textarea {
            width: 70%;
            border: none;
            outline: none;
            resize: none;

            &.edit-mode {
              outline: auto;
            }
          }

          button {
            border: none;
            padding: 1em;
            border-radius: 5px;
            transition: all 0.2s ease-in;

            &:hover {
              @include buttonHover();
            }

            i {
              margin: 0.2em;
            }
          }

          .delete-btn,
          .fa-trash-o {
            color: #ff0000;
          }

          .update-btn {
            display: none;
            border: none;
            padding: 1em;
            border-radius: 5px;
            width: 6em;
            background-color: darkblue;
            color: #f0f8ff;
            transition: all 0.2s ease-in;

            &.--visible {
              display: block;
            }

            &:hover {
              cursor: pointer;
              background-color: #778899;
            }

            i {
              color: #f0f8ff;
              margin: 0.2em;
            }
          }
        }
      }
    }

    .page-banner {
      margin-top: 8em;
      h1 {
        font-size: 3rem;
      }
    }

    .generic-content {
      /* SEARCH FORM WITH JS DISABLED */
      .search-form-container {
        @include searchForm(50%);
      }
    }
  }

  .class-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;

    a {
      text-align: center;
      font-size: 2.3rem;
      font-weight: bolder;
      padding: 0.5em;
      color: black;
    }

    .yoga {
      background-image: url('../images/yoga.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 60em;
      height: 60em;
      transition: all 0.2s ease-in;
      opacity: 0.7;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    .zumba {
      background-image: url('../images/zumba.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 60em;
      height: 60em;
      transition: all 0.2s ease-in;
      opacity: 0.7;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    .outdoor {
      background-image: url('../images/outdoor-workout.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 60em;
      height: 60em;
      transition: all 0.2s ease-in;
      opacity: 0.7;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    .cycling {
      background-image: url('../images/cycling.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 60em;
      height: 60em;
      transition: all 0.2s ease-in;
      opacity: 0.7;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    &:hover {
      cursor: pointer;

      .text-overlay-class {
        opacity: 0.9;
      }
    }
  }

  /* MAP */
  .mapp-layout {
    position: relative;
    z-index: 1;
  }

  /* WORKOUTS PAGE */
  .posts-container {
    margin: 8em;

    h1 {
      text-align: center;
      font-size: 2.5rem;
    }
  }

  .related-post {
    margin: 3em;
  }

  /* ABOUT PAGE */

  /* FOOTER */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5.5em;
    padding: 1em;
    background: whitesmoke;
    position: relative;
    top: calc(100vh - 100px);
    left: 0;
    bottom: 0;

    i {
      margin: 0.2em;
    }

    .fa-facebook-official {
      color: #00008b;
      font-size: 2rem;
    }

    .fa-instagram {
      color: red;
      font-size: 2rem;
    }

    .fa-twitter {
      color: lightblue;
      font-size: 2rem;
    }
  }

  /* SEARCH OVERLAY */
  .search-overlay {
    background: rgb(224, 224, 224);
    box-sizing: border-box;
    visibility: hidden;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.98;
    min-height: 100%;

    &--active {
      display: block;
      visibility: visible;
    }

    .search-overlay-top {
      background-color: #778899;
      height: 5em;
      position: relative;
      top: -2;
      width: 100%;

      .search-container {
        display: flex;
        justify-content: center;
        gap: 1em;
        padding: 1em;

        .search-input {
          width: 75%;
          box-sizing: border-box;
          border: none;
          background: transparent;
          font-size: 1.8rem;
          font-weight: 300;
          color: #000000;
          outline: none;
          padding-left: 1.2em;

          &::placeholder {
            font-size: 1.8rem;
            color: #000000;
          }
        }

        .fa-search {
          margin-top: 0.5em;
          margin-right: -2em;
          font-size: 1.2rem;
          color: #000000;
        }

        .fa-window-close {
          font-size: 1.5rem;
          color: #000000;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .results-container {
      overflow-y: auto;
      padding: 2em;
      margin-top: -2em;
      height: 100%;
      overflow-y: scroll;

      .row {
        display: flex;
        justify-content: space-around;

        .one-third {
          display: flex;
          flex-direction: column;

          a {
            text-decoration: underline;
          }

          h2 {
            font-size: 2rem;
            text-align: center;
          }

          p {
            text-align: center;
          }

          li {
            list-style-type: none;
            margin: 0.5em;
          }

          /* Style classes and workouts search list */
          .search-list {
            display: flex;
            flex-direction: row;
            justify-content: center;

            li {
              transition: transform 0.2s ease-in;

              &:hover {
                transform: scale(1.1);
              }

              /* Text overlay on image */
              @include classImage(80%, 80%);
              // .image-link {
              //   text-decoration: none;
              //   position: relative;
              //   text-align: center;

              //   img {
              //     height: 80%;
              //     width: 80%;
              //   }

              //   span {
              //     width: 100%;
              //     background-color: lightgray;
              //     color: #000000;
              //     position: absolute;
              //     top: 50%;
              //     left: 50%;
              //     transform: translate(-50%, -50%);
              //     padding-top: 0.5em;
              //     padding-bottom: 0.5em;
              //   }
              // }
            }
          }
        }
        @include singleEventStyle();
      }
    }
  }

  /* LOADING SPINNER */
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  .spinner {
    height: 100vh;
    position: relative;

    &::before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 10%;
      left: 50%;
      width: 4em;
      height: 4em;
      border: solid 2px #00008b;
      border-bottom-color: #f0f8ff;
      border-radius: 50%;
      animation: spinner 0.6s linear infinite;
    }
  }

  .blog-section {
    margin-top: 7em;
    text-align: center;
  }

  .page-container {
    margin: 7em;
  }
}

/* Portrait tablet to landscape and desktop */
// @media screen and (min-width: 768px) and (max-width: 979px) { ... }

/* Landscape phone to portrait tablet */
// @media screen and (max-width: 767px) { ... }

/* Landscape phones and down */
// @media screen and (max-width: 480px) { ... }
